/**********************************
general 
**********************************/
body{
    font-family: 'Arizonia', cursive;
}
#wrapper{
    max-width: 940px;
    margin: 0 auto; 
    padding: 0 5% 
     }
     
     a{
    text-decoration:  red; 
        }
        img{
            max-width: 100%;
        }  
/**********************************
header
**********************************/
     #logo{
         text-align: center;
         alignment-adjust: 0;
     }
     
     h1{
        font-family: 'Arizonia', cursive;
        margin: 15px 0;
        font-size: 3.75em;
     }
     
     h2{
        font-size: 2.75em;
        margin: -5px 0 0;
        font-weight: normal;
     }
     
     h3{
         width: 300px;
         height: 300px;
         margin: 2 10px;
     }
/**********************************
navigation 
**********************************/
nav{
 text-align: center;
 padding: 10px 0;
 margin: 20px 0 0;
}
/**********************************
footer 
**********************************/
footer{
  font-size: 1.75em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
      
}
.social-media-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
/**********************************
page portfolio
**********************************/
#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
    }
#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: crimson;
    color: #000;
        
    }   


/*********************************
colors
********************************/
a{
color: #F8F8FF;
}

header {
    background : crimson;
}
h1,h2{
   color: white; 
}

nav{
    background: black;
}

nav a, nav a:visited{
  color:   #fff;
}

nav a.selected nav .a hover {
    color:red;
}

body, html {
  margin: 0;
  padding: 0;
}

body canvas {
  display: block;
  cursor: crosshair;
}